extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      a(href='/api/salesforce', style='color: #fff')
        .panel.panel-default(style='background-color: #0680C3')
          .panel-body
            img(src='http://i.imgur.com/v753soI.png', height=40)
            |  Salesfore