extends ../layout

block content
  .page-header
    h2
      i.fa.fa-twitter(style='color: #4099ff')
      | Salesforce API

  .btn-group.btn-group-justified
    a.btn.btn-success(href='https://jsforce.github.io', target='_blank')
      i.fa.fa-file-text-o
      | JSForce Documentation
    a.btn.btn-success(href='https://developer.salesforce.com/docs/atlas.en-us.api.meta/api/', target='_blank')
      i.fa.fa-check-square-o
      | Salesforce


  br

  .well
    h4 Output Lead Data


  br

